<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Practitec_ProyectoF.Properties.Settings.ProyectoFISConnectionString"
            connectionString="Data Source=universidad-itt.database.windows.net;Initial Catalog=ProyectoFIS;User ID=Administrador;Password=Itt12345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>